<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lab6app">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" android:maxSdkVersion="33" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name=".NoteReminderApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab6App"
        tools:targetApi="31">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity
            android:name=".activity.AddEditNoteActivity"
            android:parentActivityName=".activity.MainActivity"/> <!-- Для кнопки "назад" в ActionBar -->

        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="false" /> <!-- false, бо його викликає тільки система -->

        <!-- Ресівер для обробки перезавантаження пристрою -->
        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
    </receiver>

        <!-- Оголошення Widget Provider -->
        <receiver
            android:name=".widget.NoteReminderWidgetProvider"
        android:exported="false">
        <intent-filter>
            <!-- Обов'язковий action для AppWidgetProvider -->
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            <!-- Наш кастомний action для примусового оновлення -->
            <action android:name="com.example.lab6app.action.UPDATE_WIDGET" />
        </intent-filter>
        <!-- Посилання на XML з метаданими віджету -->
        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/note_reminder_widget_info" />
    </receiver>

    </application>

</manifest>